
.navbar-dark .navbar-nav .nav-link {
  font-size: 22px;
}
img {
max-width: 100%;
max-height: 100%;
}

h1 {
font-size: 50px;
margin-top: 30px;
margin-bottom: 20px;
}

h2 {
margin-top: 40px;
margin-bottom: 20px;
}

p {
font-size: 18px;
}
footer {
  padding: 10px 20px;
  background: #31373e;
  color: white;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
.col {
  font-size: 32px;
}
